/jasperExample/target/
/LuceneExample/indexDir/
/solrExample/target/
/groovyXMLExample/nbproject/private/
/groovyXMLExample/build/
/WebApplication1/nbproject/private/
/JSPExamples/nbproject/private/